<div class="container">
    <div class="bar-container">
        <app-duration-bar></app-duration-bar>
    </div>
    <div class="inner">
        <div class="controls-container">
            <div class="control">
                <app-play-pause-button></app-play-pause-button>
            </div>
            <div class="control">
                <app-forward-button></app-forward-button>
            </div>
            <div class="control">
                <app-time></app-time>
            </div>
        </div>
        <div class="gap"></div>
        <div class="additional-controls-container">
            <div class="control">
                <app-fullscreen-button></app-fullscreen-button>
            </div>
        </div>
    </div>
</div>