.container
    width: 100%
    height: 3px
    background: #eee
    transition: .2s

    .value
        width: 0%
        background: #e90f0f
        height: 100%
    
    &:hover
        height: 5px
        cursor: pointer